#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias g="git"
alias h="history"
alias j="jobs"
alias p3="python3"
alias py3="p3"

function alarm_forever() {
    # play one part of the track at a time so that this function can be killed any time
    while :; do
        afplay --time .72 ~/sounds/alarm.mp3;
    done
}

function alarm_until_input() {
    alarm_forever &
    pid=$!;
    read  -n 1 -p "$*";
    kill -9 $pid;
}

# pip install termdown
function timer {
    termdown $@;
    alarm_until_input "[Press any key to stop]"
}
alias alarm="timer"

# TODO: ask if user soaked the rice first
function rice {
    echo "1. Wash rice. Place in pressure cooker with 1-1 water-rice ratio."
    echo "2. Place the pressure cooker on the stove on high."
    read  -n 1 -p "3. When the pressure pot starts whistling, press any key to start the timer."
    termdown --title "Tweet!" 2m
    alarm_until_input "4. Take pot off heat and press any key."
    termdown --title "RICE" 11m
    alarm_until_input "5. Open the pot and stir the rice immediately."
    alarm_until_input "6. Eat!"
}

function save_word {
    read -p "Save study card for $1? [Y/n]" yn
    case $yn in
        [Nn]* ) echo 'Not saving word';;
        * ) tango add $1 "$2";;
    esac
}

# all of the mac_dic_lookup commands below require installing the desired dictionary in Dictionary.app
# code for the lookup script is at https://github.com/garfieldnate/DictionaryKit

# pip3 install leo-cli
# alternative: mac_dic_lookup "Duden-Wissensnetz deutsche Sprache" "$*"
# alternative: mac_dic_lookup "Oxford German Dictionary" "$*"
function de() {
    leo $@ | less;
    save_word 'de' "$*";
}

# alternative: mac_dic_lookup "Multidictionnaire de la langue française" "$*"
function fr() {
    leo -l fr $@ | less;
    save_word'fr' "$*" ;
}

# pip3 install myougiden
# alternative: mac_dic_lookup "ウィズダム英和辞典 / ウィズダム和英辞典" "$*"
# alternative: mac_dic_lookup "スーパー大辞林" "$*"
function jp() {
    myougiden $@;
    save_word 'jp' "$*" ;
}
alias ｊｐ=jp
alias ＪＰ=jp

# alternative: w3m "http://m.endic.naver.com/search.nhn?query=${@// /%20}&searchOption=all#ly2"
# alternative: mac_dic_lookup "뉴에이스 국어사전" "$*"
function ko() {
    mac_dic_lookup "뉴에이스 영한사전 / 뉴에이스 한영사전" "$*" | format_dic_entries.py ko | less -R
    save_word 'ko' "$*" ;
}

# also available: 现代汉语规范词典
function zh() {
    mac_dic_lookup "牛津英汉汉英词典" "$*" html | format_dic_entries.py zh | less -R
    save_word 'zh' "$*" ;
}
alias zhsimple=zh

# function zhtrad() {
#     mac_dic_lookup "五南國語活用辭典" "$*" html | format_dic_entries.py zh | less -R
#     save_word 'zh' "$*" ;
# }

function en() {
    mac_dic_lookup "New Oxford American Dictionary" "$*" | format_dic_entries.py en | less -R;
    save_word 'en' "$*" ;
}

function thesaurus() {
    mac_dic_lookup  "Oxford American Writer's Thesaurus" "$*" | format_dic_entries.py en | less -R
    save_word 'en' "$*" ;
}

alias etym="etymology"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
    export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
    colorflag="-G"
    export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Stopwatch
alias stopwatch='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
# need to run `sudo /usr/bin/cpan install Mozilla::CA` for this to work
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias teaparty='docker kill $(docker ps -q)'

alias psearch='ps aux | grep'

#Paths I use a lot
alias d="cd ~/Dropbox (Personal)"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias jw="cd ~/dev/workspaces/java_workspace/"
alias pw="cd ~/dev/workspaces/python_workspace/"

# current time for locations/people I care about
alias californiatime="TZ=America/Los_Angeles date"
alias momtime="TZ=America/Los_Angeles date"
alias ohiotime="TZ=America/Detroit date"
alias karentime="TZ=America/Detroit date"
alias utahtime="TZ=America/Denver date"
alias joshtime="TZ=America/Denver date"
alias arizonatime="TZ=UTC+7 date"
alias chelantime="TZ=UTC+7 date"
alias japantime="TZ=Japan date"
